# Application
NODE_ENV=development
APP_PORT=4200
API_PORT=3000

# MySQL Database
MYSQL_HOST=db
MYSQL_PORT=3306
MYSQL_DATABASE=it
MYSQL_USER=item
MYSQL_PASSWORD=password
MYSQL_ROOT_PASSWORD=password

# phpMyAdmin
PMA_PORT=8080

BARTENDER_HOST=http://localhost/
# Testing
TEST_MODE=false


HTTPS_CERT_FILE=/app/certs/ssl.pem
HTTPS_KEY_FILE=/app/certs/ssl-key.pem
HTTPS_PORT=443
# General Admin User (bypasses auth API)
# WARNING: Change the password in production! This user has full administrative access.
ADMIN_USERNAME=admin
ADMIN_PASSWORD=change-me-in-production


DELL_CLIENT_ID=1234567890
DELL_CLIENT_SECRET=12345678901234567890
